<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        colors="true"
    >
    <testsuites>
        <testsuite name="Sandbox API">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true" cacheDirectory="coverage/cache">
        <include>
            <directory>./src/</directory>
        </include>
        <report>
            <clover outputFile="coverage/global/clover.xml"/>
            <html outputDirectory="coverage/global/report"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="junit.xml"/>
    </logging>
</phpunit>
